<article class="company-content__article company-intro">
    <a class="company-intro__link" href="#">
        <img class="company-intro__logo logo" src="../img/co_logo.svg" alt="Зеленый логотип компании Преображенский МПК">
    </a>
    <div class="company-intro__text co-text">
        <ul class="co-text__list info-list">
            <li class="info-list__item info-item">
                <p><b>Название компании:</b> ООО “Преображенский Мясоперерабатывающий Комбинат”</p>
            </li>

            <li class="info-list__item info-item">
                <p><b>ОГРН (ОГРНИП):</b> 1166733069612</p>
            </li>

            <li class="info-list__item info-item">
                <p><b>ИНН:</b> 6726022894</p>
            </li>

            <li class="info-list__item info-item">
                <p><b>Страна:</b> Россия</p>
            </li>

            <li class="info-list__item info-item">
                <p><b>Регион:</b> Тверская область</p>
            </li>

            <li class="info-list__item info-item js-descript">
                <p class="js-parag"><b>Описание:</b> Преображенский МПК - современное мясоперерабатывающее предприятие в Тверской области.<br>
                Введен в эксплуатацию в 2013 г. Основу ассортимента составляют порционные и мелкокусковые полуфабрикаты из охлажденной свинины. Продукция мясокомбината является частью вертикально-интегрированного холдинга КоПИТАНИЯФ.<br>
                Предприятия холдинга образуют полный цикл производства от выращивания зерна и производства комбикормов до производства свежего мяса, что позволяет снизить себестоимость и гарантировать безопасность и высокое качество продукции.</p>
            </li>

            <li class="info-list__item info-item">
                <p><b>Виды деятольности:</b></p>
                <ul class="info-item__list">
                    <li>Оборудование, упаковка</li>
                    <li>Оптовая торговля</li>
                    <li>Производитель готовой продукции</li>
                    <li>Производитель мясного сырья</li>
                    <li>Розничная торговля</li>
                </ul>
            </li>

            <li class="info-list__item info-item">
                <p><b>Виды продукции:</b></p>
                <ul class="info-item__list">
                    <li>Свинина</li>
                    <li>Замороженное и охлажденное мясо</li>
                    <li>Мясные полуфабрикаты</li>
                    <li>Колбасы, сосиски, деликатесы</li>
                </ul>
            </li>

            <li class="info-list__item info-item">
                <p><b>Товары и услуги:</b> Мясо замороженное, мясо охлажденное, свинина, субпродукты</p>
            </li>
        </ul>
    </div>
</article>
