@import "normalize";
@import "mixins";
@import "variables";
@import "global";
@import "components/header";
@import "components/bcrumbs";
@import "components/company";
@import "components/adverts";
@import "components/msg_popup";

.main{
  padding-top: 32px;
  &-wrapper {
    display: flex;
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }
  &-central {
    width: 100%;
  }
  &-aside {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    @media screen and (max-width: 767px) {
      flex-direction: row;
      margin-top: 48px;
    }
    &__add {
      width: 160px;
      height: 320px;
      &:first-of-type {
        margin-bottom: 20px;
        @media screen and (max-width: 767px) {
          margin-right: 20px;
          margin-bottom: 0;
        }
      }
      .add-img {
        object-fit: cover;
        height: 100%;
      }
    }
  }
}

.list {
  background-color: red;
  &-item {
    color: gray;
  }
}

.search {
  position: relative;
  height: 40px;
  max-width: 940px;
  margin: 16px 0 32px;
  &-input {
    width: 100%;
    height: 100%;
    padding-left: 12px;
    border: 2px solid $blue-main;
    border-radius: 3px;
    text-overflow: ellipsis;
    @include placeholder {
      font-family: "Roboto", "Arial", sans-serif;
    }
  }
  &-button {
    position: absolute;
    right: 0;
    width: 64px;
    height: 40px;
    background-color: $blue-main;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5 14H14.71L14.43 13.73C15.4439 12.554 16.0011 11.0527 16 9.5C16 8.21442 15.6188 6.95772 14.9046 5.8888C14.1903 4.81988 13.1752 3.98676 11.9874 3.49479C10.7997 3.00282 9.49279 2.87409 8.23191 3.1249C6.97104 3.3757 5.81285 3.99477 4.90381 4.90381C3.99477 5.81285 3.3757 6.97104 3.1249 8.23191C2.87409 9.49279 3.00282 10.7997 3.49479 11.9874C3.98676 13.1752 4.81988 14.1903 5.8888 14.9046C6.95772 15.6188 8.21442 16 9.5 16C11.11 16 12.59 15.41 13.73 14.43L14 14.71V15.5L19 20.49L20.49 19L15.5 14ZM9.5 14C7.01 14 5 11.99 5 9.5C5 7.01 7.01 5 9.5 5C11.99 5 14 7.01 14 9.5C14 11.99 11.99 14 9.5 14Z' fill='white'/%3E%3C/svg%3E%0A");
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }
}

.back-link {
  padding-left: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 4.35124H2.49462L5.94396 0.917348L5.02248 0L0 5L5.02248 10L5.94396 9.08265L2.49462 5.64876H12V4.35124Z' fill='%23005FAE'/%3E%3C/svg%3E");
  background-position: left center;
  background-repeat: no-repeat;
  font-size: 14px;
  line-height: 20px;
  color: $blue-main;
}

.hint {
  display: none;
  position: absolute;
  z-index: 10;
  top: 34px;
  width: 291px;
  height: 120px;
  padding: 24px;
  background: #FFFFFF;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  &-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    &.co_checked {
      position: relative;
      padding-left: 24px;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 24px;
        height: 24px;
        background-image: url("../img/icons/ic_approval.svg");
        background-size: 80%;
        background-position: left center;
        background-repeat: no-repeat;
      }
    }
  }
}

.main-section {
  &__title {
    position: relative;
    display: flex;
    align-items: center;
    margin: 16px 0 8px;
    .title {
      display: inline-block;
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      color: #212121;
      @media screen and (max-width: 767px) {
        font-size: 22px;
      }
    }
    .comp_checked {
      display: inline-block;
      width: 32px;
      height: 32px;
      background-image: url("../img/icons/ic_approval.svg");
      background-position: left center;
      background-repeat: no-repeat;
      &:hover ~ .hint{
        display: block;
      }
    }
  }
}


.page-info {
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: flex-start;
  }
  &__views {
    margin-right: 24px;
    &:before {
      background-image: url("../img/icons/ic_view.svg");
    }
  }
  &__stat {
    margin-right: 24px;
    &:before {
      background-image: url("../img/icons/ic_statisctic.svg");
    }
  }
  &__edit:before {
      background-image: url("../img/icons/ic_edit.svg");
  }
  &__comment {
    &:before {
      background-image: url("../img/icons/ic_comment.svg");
    }
  }
  &__button {
    max-width: 238px;
    margin-left: auto;
    @media screen and (max-width: 767px) {
      margin-left: 0;
      margin-top: 15px;
    }
  }
}

.company {
  display: flex;
  margin-top: 32px;
  @media screen and (max-width: 991px) {
    flex-direction: column-reverse;
  }
}

.company-content {
  &__section:first-of-type {
    margin-bottom: 48px;
  }
  &__title {
    margin-bottom: 16px;
    position: relative;
    font-weight: 500;
    font-size: 19px;
    line-height: 28px;
    color: #212121;

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      height: 1px;
      width: 100%;
      background-color: #E0E0E0;
    }
  }
}
.products-photos {
  display: flex;
  flex-wrap: wrap;
  &__item {
    margin-right: 8px;
    margin-bottom: 8px;
    @media (max-width: 767px) {
      position: absolute;
      height: 120px;
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
      display: none;
      cursor: pointer;
      &.active-photo {
        display: block;
      }
    }
  }
  @media (max-width: 767px) {
    height: 120px;
    overflow: hidden;
    width: fit-content;
  }
}

