.header {
  &-top {
    background-color: $blue-main;
  }
  &-bottom {
    background: #F7F7F7;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  }
  &-top,
  &-bottom {
    min-height: 44px;
    display: flex;
    align-items: center;
  }
}
